@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-black dark:bg-zinc-900 dark:text-white;
  }
}

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.5rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #717171;
  }
  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 4px;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #e5e7eb;
  }
}
.customModal {
  padding: 0 !important;
  margin: 0 !important;
}
.show {
  left: 0;
  transition: all 0.3s ease;
}
.bars {
  display: block;
}
.times {
  display: none;
}
.signout {
  cursor: pointer;
}
ul.left-sidebar li i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 13px;
  padding: 13px;
  margin-right: 8px;
}
ul.left-sidebar li:hover {
  opacity: 0.7;
}
.left-second-sidebar li {
  padding: 0;
  margin: 0;
}
.left-second-sidebar li i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #e37326;
  transition-duration: 0.5s;
}
.left-second-sidebar li {
  padding-bottom: 12px;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}
.left-second-sidebar li:hover {
  background: #e37326;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.left-second-sidebar li:hover i {
  color: #fff;
}
.right-side-group li a span:first-child {
  width: 37px;
  text-align: center;
}
.contact-users {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}
.chat-box-container {
  width: 50%;
  margin: auto;
  font-family: tahoma !important;
}

/* conversation */
.conversation:hover {
  background-color: rgb(245, 243, 243);
  color: black;
}

@media screen and (max-width: 768px) {
  .conversationName {
    display: none;
  }
}

/* online friend */
@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}

#nprogress .spinner-icon {
  display: none;
}

.bg-pattern-login {
  /* background: #3b3b3b; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%233b3b3b' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
